<div class="card-deck">
  <div class="card">
    <div class="card-header">
      Auto complete
    </div>
    <div class="card-body">
      <input [(ngModel)]="asyncSelected" [typeaheadAsync]="true" [typeahead]="dataSource" (typeaheadOnSelect)="typeaheadOnSelect($event)"
        [typeaheadOptionsLimit]="optionsLimit" typeaheadOptionField="name" (typeaheadLoading)="changeTypeaheadLoading($event)" typeaheadWaitMs="1000"
        placeholder="Product name" class="form-control">
      <div class="m-2" *ngIf="typeaheadLoading">
        <fa-icon [icon]="loadingIcon" [spin]="true" class="fa-2x" [styles]="{'color': '#20a8d8'}"></fa-icon>
      </div>

      <div class="d-flex mt-5" *ngIf="selected">
        <div class="mr-2 flex-fill">
          <a [href]="selected.url" target="_blank"><img [src]="selected.image" alt="Product Image" /></a>
        </div>
        <div class="flex-fill">
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong>Price: </strong> {{selected.price | currency}}</li>
            <li class="list-group-item"><strong>Shipping: </strong> {{selected.shipping | currency}}</li>
            <li class="list-group-item"><strong>Description: </strong> {{selected.description}}</li>
            <li class="list-group-item"><strong>Model: </strong> {{selected.model}}</li>
            <li class="list-group-item"><strong>Description: </strong> {{selected.description}}</li>
            <li class="list-group-item"><strong>Manufacturer: </strong> {{selected.manufacturer}}</li>
            <li class="list-group-item"><strong>Model: </strong> {{selected.model}}</li>
            <li class="list-group-item"><strong>SKU: </strong> {{selected.sku}}</li>
            <li class="list-group-item"><strong>UPC: </strong> {{selected.upc}}</li>
            <li class="list-group-item"><strong>Type: </strong> {{selected.type}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
