<div class="card-deck">
  <div class="card">
    <div class="card-header">
      Upload
    </div>
    <div class="card-body text-center">
      <p class="card-text">
        The button below will upload {{ count }} products in batches of {{ batch }} into a Firestore collection. There are {{ split.length }} batch items left to upload.
      </p>
      <button class="btn btn-primary btn-lg mb-3" type="button" [disabled]="disabled" (click)="doUpload()">Upload</button>
      <progressbar max="100" [value]="percent" type="success" [animate]="true"></progressbar>
    </div>
  </div>
</div>
